body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: rgb(158, 118, 158);
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #B7B7B7;

}

.container {
    margin: auto;
    width: 550px;
    background-color: #FFFFFF;

}

.header {
    /* border: 2px solid black; */
    max-height: 81px;
    display: flex;
    flex-shrink: 1;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;

}

.header-icons {
    max-height: 42px
}

section {
    position: relative;
    /* border: 2px solid black; */
    box-sizing: border-box;
    text-align: center;

}


#badge {
    position: absolute;

    top: 50px;
    left: 20px;
    transform: rotate(-30deg)
}

#badge img {
    width: 235px;
    height: 115px;
}

#bio {
    position: absolute;
    bottom: 10px;
    left: 20px;
    text-align: left;
    
    
}

.bold {
    font-weight: 600;
    font-size: 32px;
    line-height: 50px;
    color: white;

}



.dog-pictures {
    width: 535px;
    height: 750px;
    border-radius: 15px;
}

#end {
    width: 535px;
    height: 750px;
    border-radius: 15px;
    border: 2px solid rgb(158, 118, 158);
    margin: auto;
    padding-top: 300px;
    box-sizing: border-box;
    color: black
}


footer {
    /* border: 2px solid black; */
    padding: 10px 25px 25px 25px;
    display: flex;
    justify-content: center;
    gap: 25px;

}



button {

    width: 92px;
    height: 92px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px #E9E9EA;
    border: none;
    padding-top: 5px;
    padding-left: 5px;
}

#dislike-btn:hover,
#dislike-btn:focus {
    background-color:#FFE7EF

}

#like-btn:hover,
#like-btn:focus {
    background-color: #DBFFF4;
}